---
layout: layouts/default.html
permalink: /blog/
title: Blog
description: My blog posts
---

<h1><span class="strike">Blog</span> Rants & ramblings</h1>

<style>
    .post {
        background: var(--content-bg-color);
        border: 1px solid var(--text-color);
        box-shadow: .25rem .25rem var(--border-color);
        color: var(--text-color);
        margin-top: 3rem;
        z-index: 10;
    }
    .post-date {
        background-color: var(--content-bg-color);
        border: 1px solid var(--text-color);
        border-bottom: none;
        margin-top: 0;
        padding: .5rem;
        position: absolute;
        right: -1px;
        top: calc(-1 * calc(1em + 1rem + 8px ));
        z-index: 0;
    }
</style>

<ul class="list-style-none p0">
    {% for post in collections.posts reversed %}
    <li class="post line-height-2 mb4 p1 sm-p2 pr-p0 relative">
        <p class="post-date m0 sm-mt0 italic">
            {{ post.date | date: '%B %d, %Y'}}
        </p>
        <div class="post-title">
            <p class="h3 m0">
                <a class="pr-p0" href="{{ post.url }}">
                    {{ post.data.title }}
                </a>
            </p>
        </div>
        {% if post.data.description %}
            <p class="post-description">
                {{ post.data.description }}
            </p>
        {% else %}
            <p class="post-excerpt">
                {% excerpt post %}
            </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% include 'rss.html' %}
